
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.hedaer-section{
    padding: 16px;
    position: absolute;
    width: 100%;
    color: white;
    z-index: 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 16px;

}
header .logo {
    font-size: 43px;    
    margin-right: 212px;
}
header .logo span {
    color: red;
}
header .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 212px;

}
header .info .street{
    margin-right: 48px;
    display: flex;

}
header .info .clock{
    display: flex;

}
header .info i{
    margin-right: 16px;
    font-size: 28px;
    color: orange;
}


.navbar-section{
   
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-content{

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    border-radius: 100px;
}
.nav-content nav{
    margin-right: 192px;
}
.nav-content nav .red{
    color: red;
}
.nav-content nav a{
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0px;
    color: #000 ;
    display: inline-block;
    text-decoration: none !important;
    cursor: pointer;
}

.nav-content .social-icons{
    margin-left: 192px;
}
.nav-content .social-icons .twitter{
   display: inline-block;
    padding: 20px;
}





/* ------------------------------------------ */
/* banner */
.banner-main-section{
    color: white;
}
.banner-main-section .banner-overlay{
    position: relative;

}
.banner-main-section .banner-overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    
}
.banner-content .main-container{
    max-width: 1140px;
    margin: 0 auto;
    /* padding: 100px; */
    padding-top: 300px;
    display: flex;
}

.left-content-text, .left-content-img
{
    z-index: 10;
}
.left-content-img{
    margin-top: -300px;
}
.left-content-img img{
    height: 827px;
}
.left-content-text span{
    color: rgb(253, 77, 64);
font-family: "Indie Flower", cursive;
font-size: 20px;
font-weight: 300;
}
.left-content-text h1{
   
font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 48px;
margin-bottom: 16px;
}
.left-content-text p{
font-size: 18px;
}
.left-content-text .learn{
    margin-top: 48px;

}

.left-content-text .learn a{
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background: red;
    color: white;
    text-decoration: none;
    padding: 24px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* padding: 10px 20px; */
    text-decoration: none;
    font-size: 12px;
}


/* types of games */
#education-section{
    padding: 100px 0;
  }
  
  .education-section .main-container{
      margin: 0 auto;
      max-width: 1140px;
      padding: 0 15px;
  } 
  
  .education-section .main-container .container {
      text-align: center;
     
  }
  .education-section .main-container .container h1 {
      color: #136ad5;
      margin-bottom: 20px;
      font-family: "Display Playfair", serif;
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 24px;
  }
  .education-section .main-container .container p {
    
      margin-bottom: 64px;
     
 
  font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
    font-weight: 300;
  }
  .education-section .main-container .container .grid-container {
      display: flex;
     
      justify-content: space-between;
      gap: 30px;
  }
  .education-section .main-container .container .grid-container .grid-item {
    position: relative;
      height: 254px;
  margin-bottom: 40px;
      background-color: white;
      padding: 20px;
    
      text-align: center;
      transition: transform 0.2s;

      color: white;
    position: relative;
    background: #fd4d40;
    padding: 40px;
    border: 1px solid black;
  }
  
  .education-section .main-container .container .grid-container .grid-item i {
    position: absolute;
    /* top: -70px; */
    left: 40%;
    /* right: 50%; */
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    color: white;
    display: flex;
    border-radius: 50%;
    background-color: #fd4d40;
    margin-top: -70px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  .education-section .main-container .container .grid-container .grid-item h3 {
      font-family: "Display Playfair", serif;
      font-size: 18px;
      font-weight: 500;
      
      margin-bottom: 8px;
      margin-top: 30px;
  }
 
/* --------------------------------- */
/* about-us */
#about-us{
    background-color: #f6f5f5;
    padding: 102px 0;

  }
  .about-us .main-container{
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 12px;
  }
  
  .about-section {
      display: flex;
     
    }
    .about-images {
      flex: 1;
      position: relative;
      padding: 0 15px 0 0;
    }
    .about-images img {
      height: 448px;
      width: 538px;
    
    }
    .about-images .small-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      border: 16px solid white;
     
    
  
    }
    .about-text {
      flex: 1;
      margin-left: 95px;
    padding-left: 48px;
    padding-right: 10px;

    }
    .about-text h6{
        color: rgb(253, 77, 64);
        display: inline;
        font-family: "Indie Flower", cursive;
        font-size: 20px;
        font-weight: 300;
  
    }
    .about-text h1 {
      color: #000;
      font-size: 28px;
      font-weight: 300;
    }
    .about-text p {
      color: #777;
      margin: 20px 0;
      font-size: 16px;
    line-height: 1.6;
    }
   
    .read-more-bttn .button {
      display: flex;
      align-items: center;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #06BBCC;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }
   
    
    .about-text .learn{
        margin-top: 48px;
    }
   .about-text .learn a{
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #DC3545;
    color: white;
    text-decoration: none;
    padding: 24px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* padding: 10px 20px; */
    text-decoration: none;
    font-size: 12px;
   }
  
  
/* ----------------------------------------------------------------- */
/* ------------------------------------------ */
/* feature */
#feature-section{
    padding-top: 130px;
    padding-bottom: 100px;
    background-color: #17A2B8;
  }
  .feature-section .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
  }
  .feature-container {
      text-align: center;
  }
  .feature-head-content{
    margin-bottom: 48px;
  }
  .feature-title {
    color: rgb(253, 77, 64);
    display: block;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8px;
  }
  .feature-subtitle {
      font-size: 32px;
      color: #fff;
      margin-bottom: 8px;
      font-weight: 300;
  
  }
  .feature-cards {
      display: flex;
      gap: 30px;
  }
  
  .feature-cards .card {
      background-color: #F9F9FF;
      text-align: center;
      padding: 40px;
     
     
  }
  .feature-cards  .card:hover{
      box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1);
  cursor: pointer;
  }

  .feature-cards .card .card-icon img {
    height: 80px;
    width: 80px;      
  }
  .feature-cards .card .card-title {
      
      font-size: 20px;
      margin: 30px 0;
  
      color: #001F54;
  }
  .feature-cards .card .card-description {
      color: rgb(123, 131, 138);
      line-height: 1.6;
    margin-bottom: 16px;
  }
  
    
  .feature-cards .card .learn{
    margin-top: 48px;
}
.feature-cards .card .learn a{
border-radius: 30px;
border-top-right-radius: 0;
border-bottom-left-radius: 0;
background: #DC3545;
color: white;
text-decoration: none;
padding: 10px 20px;
text-transform: uppercase;
letter-spacing: 3px;
/* padding: 10px 20px; */
text-decoration: none;
font-size: 12px;
}


/* -------------------------------------------------------- */
/* pricing-plan */
#pricing-plan{
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pricing-plan .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
 }


.pack-container{
    display: flex;
}
.pack{
    flex: 1;
}
.pack-container .pack-head-content .subtitle{
    color: black;
    margin-bottom: 8px;
    font-size: 32px;
  
  
    font-weight: 300;
}
.pack-container .para{
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.pack .price-circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin-bottom: 30px;
    position: relative;
    background: #16C3B0;
    padding: 8px;
}
.pack .price-circle span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 26px;
    font-weight: 300;
}
.pack h3{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
/* .pack .feature-cards{
    margin-bottom: 50px;
} */
.pack .features{
    margin-bottom: 80px;
}
.pack .features li{
    position: relative;
   
    margin-bottom: 15px;
    line-height: 1.5;
    list-style: none;
}
.pack .features li i{
    padding-right: 20px;
    color: red;
}
.pack .learn{
    margin-top: 24px;
}
.pack .learn a{
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #DC3545;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* padding: 10px 20px; */
    text-decoration: none;
    font-size: 12px;
}
/* ---------------------------------------------------------- */
/* gallery-section */


#gallery-section{
    padding: 128px 0;
    color: black;
}
.gallery-section .main-container{
    max-width: 1140px;
    margin: 0 auto;
}
.gallery-section .main-container .feature-head-content{
   text-align: center;
}
.gallery-section .main-container .feature-head-content .feature-subtitle{
    color: black;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 32px; }
.img-container{
    display: flex;
    justify-content: space-between;
}

.img-container img{
    height: 218px;
    width: 255px;
    margin-bottom: 24px;
}

/* ---------------------------------------------------- */
/* contact */
#contact-section{
    padding: 100px 0;
    color: black;
    background-color: #F6F5F5;
}
.contact-section .main-container{
    max-width: 1140px;
    margin: 0 auto;
}
.contact-title {
    text-align: center;
    margin-bottom: 48px;
}
.contact-title h2 {
    font-size: 32px;
    font-weight: 300;
    color: #666;
    margin-bottom: 8px;
}
.contact-title p {
    margin: 5px 0;
    color: #666;
}
.contact-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.form-section{
    flex: 2;
    padding: 0 15px;

}
.form-section .name{
    display: flex;
    gap: 30px;
}
 .contact-info {
    flex: 1;
    margin: 0 10px;
    padding: 0 15px;
    background: white;
    
}
.form-section input{
    height: 55px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px 12px;

}
.form-section input, .form-section textarea {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px 12px;
    
}

.form-section button {
   border: none;
   outline: none;
    padding: 15px;
    background-color: #DE2D29;
    color: white;
    
    cursor: pointer;


    display: flex;
    width: 50%;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}
.contact-info h3 {
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 300;
}
.contact-info p {
    margin: 5px 0;
}
.contact-info .contact-content{
    padding: 48px;
}
.contact-content .address{
    margin-bottom: 16px;
}


/* ------------------------------------ */
/* testimony-section */
#testimony-section{
    padding: 128px 0;
    color: black;
}
.testimony-section .main-container{
    max-width: 1140px;
    margin: 0 auto;
}

.testimonial-container .feature-head-content {
    text-align: center;
}

.testimonial-container .feature-head-content .feature-subtitle {
    color: black;

}
.testimonial-box {
    display: flex;
    background-color: #FD4D40;
    padding: 30px;
    color: white;
}
.testimonial-box img {
    margin-right: 48px;
}
.testimonial-content {
    text-align: left;
}
.testimonial-content h3 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8px;
}
.testimonial-content p {
    margin-bottom: 16px;
}
.testimonial-content .para-1{
    font-size: 20px;
    line-height: 1.6;
}
.stats-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}
.stats-box {
    text-align: center;
}
.stats-box h3 {
    margin: 0;
    font-size: 24px;
    color: red;
    font-weight: 300;

}
.stats-box p {
    margin: 5px 0 0 0;
    color: #666;
}

.testimony-divider{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 48px;
}
.stats-divider{
    display: flex;
    width: 60%;
    margin: 0 auto;
}








.owl-carousel .owl-item img {
    display: block;
    width: 80px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    right: 15px;
    top: 10px;
}











/* ------------------------------------------- */
/* /* fun-section */
#fun-section{
    padding: 48px 0;
    background-color: #FFC107;
}
.fun-section .main-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.fun-content{
    display: flex;

}
.fun-content h2{
    font-size: 32px;
    color: white;
    font-weight: 300;
}
.fun-content .learn{
    margin-left: 512px;
    display: flex;
}
.fun-content .learn a{
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #DC3545;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* padding: 10px 20px; */
    text-decoration: none;
    font-size: 12px;
    padding: 16px 48px;
}

/* ------------------------------------------- */
/* footer */
#footer-section{
    padding: 128px 0;
    background-color: #343A40;
    color: white;
}
.footer-section .main-container{
    max-width: 1140px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    margin-bottom: 48px;
    padding-bottom: 48px;
   
}
.footer-content .divider{
    display: flex;
    flex: 1;
    margin-left: 253px;

}
.footer-column {
    flex: 1;
    padding: 0 15px;}
.footer-column h3 {
    
    font-size: 18px;
    color: #fd4d40;
    font-weight: 300;
    margin-bottom: 16px;
}
.footer-column .newsletter h3{
    margin-bottom: 24px;
    font-weight: 300;
}
.footer-column p{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 48px;
    /* margin: 0; */
    margin-top: 0;
}
.footer-column p,
.footer-column ul,
.footer-column li {
    margin: 10px 0;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column li a {
    color: white;
    text-decoration: none;
}
.newsletter input[type="email"] {
    padding: 6px 12px;
    height: 55px;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 16px;
}
.newsletter button {
    padding: 10px 20px;
    background-color: #DE2D29;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 55px;
   
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
   
    padding-top: 48px;
}




